@import '@styles/_vars.scss';

input {
    width: 100%;
    line-height: 16px;
    padding: 17px 12px;
    border: 1px solid $borderColor;
    border-radius: $defaultBorderRadius;
    color: $hintColor;
    outline: none;
    margin-right: 12px;
    font-family: inherit;
}

input:focus {
    border: 1px solid $accentColor;
    color: $textColor;
}

input:disabled {
    background: $disabled;
}
