{
    "extends": [
        "react-app",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "indent": [
            "error",
            4
        ],
        "max-len": [
            "error",
            120,
            2,
            {
                "ignoreUrls": true,
                "ignoreComments": true,
                "ignoreRegExpLiterals": true,
                "ignoreStrings": false,
                "ignoreTemplateLiterals": false
            }
        ],
        "quotes": [
            "error",
            "single"
        ],
        "no-console": "error",
        "prettier/prettier": "error",
        "import/order": [
            "error",
            {
                "groups": [
                    "builtin",
                    "external",
                    "internal"
                ],
                "pathGroups": [
                    {
                        "pattern": "react",
                        "group": "external",
                        "position": "before"
                    }
                ],
                "pathGroupsExcludedImportTypes": [
                    "react"
                ],
                "newlines-between": "always",
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": true
                }
            }
        ]
    }
}