// colors
$white: #FFF;
$textColor: #000;
$borderColor: #D9D9D9;
$hintColor: #7E7E7E;
$accentColor: #FF5555;
$linkHover: #208FBF;
$disabled: #F9F9F9;
$starColor: #FF9432;
$searchHoverColor: rgba(255, 85, 85, 0.5);
$tileShadowColor: rgba(182, 182, 182, 0.25);

// sizes
$defaultBorderRadius: 6px;
$defaultFontSize: 14px;
$defaultFontWeight: 400;
