@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400; }

.repos-page {
  background: #FFF;
  padding: 32px; }
  .repos-page__search-row {
    display: flex;
    margin-bottom: 20px; }
  .repos-page__repos-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 360px));
    grid-column-gap: 10px;
    grid-row-gap: 16px; }

.search-row__input {
  width: 100%;
  line-height: 16px;
  padding: 17px 12px;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  color: #7E7E7E;
  outline: none;
  margin-right: 12px;
  font-family: inherit; }
  .search-row__input:focus {
    border: 1px solid #FF5555;
    color: #000; }
  .search-row__input:disabled {
    background: #F9F9F9; }

.search-row__search-button {
  padding: 16px;
  background: #FF5555;
  border-radius: 6px;
  border: none; }
  .search-row__search-button:hover {
    background: rgba(255, 85, 85, 0.5);
    cursor: pointer; }
  .search-row__search-button:disabled {
    background: #D9D9D9; }

.search-row__search-icon {
  vertical-align: middle; }

.git-repo-tile {
  padding: 12px;
  background: #FFF;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  display: flex;
  gap: 12px;
  align-items: center; }
  .git-repo-tile__img {
    width: 80px;
    height: 80px; }
  .git-repo-tile__title {
    font-weight: 700;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .git-repo-tile__title-link {
    text-decoration: none;
    color: #000; }
  .git-repo-tile__org-link, .git-repo-tile__stars, .git-repo-tile__updated {
    color: #7E7E7E; }
  .git-repo-tile__org-link {
    text-decoration: none; }
    .git-repo-tile__org-link:hover {
      color: #208FBF; }
  .git-repo-tile__info-block {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 0; }
  .git-repo-tile__bottom-info {
    display: flex;
    gap: 20px; }
  .git-repo-tile__stars {
    display: flex;
    align-items: center;
    gap: 4px; }
  .git-repo-tile:hover {
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(182, 182, 182, 0.25); }
