<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repos List</title>
    <link rel="stylesheet" href="css/repos_list.css">
</head>
<body>
<main class="repos-page">
    <div class="repos-page__search-row">
        <input class="search-row__input" type="text" placeholder="Введите название организации">
        <button class="search-row__search-button">
            <img class="search-row__search-icon" src="../svg/search.svg" alt="Поиск">
        </button>
    </div>
    <div class="repos-page__repos-list">
        <div class="git-repo-tile">
            <img class="git-repo-tile__img" src="../img/orange.jpg" alt=""/>
            <div class="git-repo-tile__info-block">
                <h3 class="git-repo-tile__title">
                    <a href="/" class="git-repo-tile__title-link">kts-school-frontend</a>
                </h3>
                <a href="/" class="git-repo-tile__org-link">ktsstudio</a>
                <div class="git-repo-tile__bottom-info">
                    <div class="git-repo-tile__stars">
                        <img class="git-repo-tile__star-icon" src="../svg/star.svg" alt=""/>
                        <span class="git-repo-tile__stars-count">123</span>
                    </div>
                    <div class="git-repo-tile__updated">Updated 21 Jul</div>
                </div>
            </div>
        </div>

        <div class="git-repo-tile">
            <img class="git-repo-tile__img" src="../img/orange.jpg" alt=""/>
            <div class="git-repo-tile__info-block">
                <h3 class="git-repo-tile__title">
                    <a href="/" class="git-repo-tile__title-link">very-long-repository-name-and-very-boring</a>
                </h3>
                <a href="/" class="git-repo-tile__org-link">ktsstudio</a>
                <div class="git-repo-tile__bottom-info">
                    <div class="git-repo-tile__stars">
                        <img class="git-repo-tile__star-icon" src="../svg/star.svg" alt=""/>
                        <span class="git-repo-tile__stars-count">123</span>
                    </div>
                    <div class="git-repo-tile__updated">Updated 21 Jul</div>
                </div>
            </div>
        </div>

        <div class="git-repo-tile">
            <img class="git-repo-tile__img" src="../img/orange.jpg" alt=""/>
            <div class="git-repo-tile__info-block">
                <h3 class="git-repo-tile__title">
                    <a href="/" class="git-repo-tile__title-link">kts-school-frontend</a>
                </h3>
                <a href="/" class="git-repo-tile__org-link">ktsstudio</a>
                <div class="git-repo-tile__bottom-info">
                    <div class="git-repo-tile__stars">
                        <img class="git-repo-tile__star-icon" src="../svg/star.svg" alt=""/>
                        <span class="git-repo-tile__stars-count">123</span>
                    </div>
                    <div class="git-repo-tile__updated">Updated 21 Jul</div>
                </div>
            </div>
        </div>

        <div class="git-repo-tile">
            <img class="git-repo-tile__img" src="../img/orange.jpg" alt=""/>
            <div class="git-repo-tile__info-block">
                <h3 class="git-repo-tile__title">
                    <a href="/" class="git-repo-tile__title-link">kts-school-frontend</a>
                </h3>
                <a href="/" class="git-repo-tile__org-link">ktsstudio</a>
                <div class="git-repo-tile__bottom-info">
                    <div class="git-repo-tile__stars">
                        <img class="git-repo-tile__star-icon" src="../svg/star.svg" alt=""/>
                        <span class="git-repo-tile__stars-count">123</span>
                    </div>
                    <div class="git-repo-tile__updated">Updated 21 Jul</div>
                </div>
            </div>
        </div>

        <div class="git-repo-tile">
            <img class="git-repo-tile__img" src="../img/orange.jpg" alt=""/>
            <div class="git-repo-tile__info-block">
                <h3 class="git-repo-tile__title">
                    <a href="/" class="git-repo-tile__title-link">very-long-repository-name-and-very-boring</a>
                </h3>
                <a href="/" class="git-repo-tile__org-link">ktsstudio</a>
                <div class="git-repo-tile__bottom-info">
                    <div class="git-repo-tile__stars">
                        <img class="git-repo-tile__star-icon" src="../svg/star.svg" alt=""/>
                        <span class="git-repo-tile__stars-count">123</span>
                    </div>
                    <div class="git-repo-tile__updated">Updated 21 Jul</div>
                </div>
            </div>
        </div>

        <div class="git-repo-tile">
            <img class="git-repo-tile__img" src="../img/orange.jpg" alt=""/>
            <div class="git-repo-tile__info-block">
                <h3 class="git-repo-tile__title">
                    <a href="/" class="git-repo-tile__title-link">kts-school-frontend</a>
                </h3>
                <a href="/" class="git-repo-tile__org-link">ktsstudio</a>
                <div class="git-repo-tile__bottom-info">
                    <div class="git-repo-tile__stars">
                        <img class="git-repo-tile__star-icon" src="../svg/star.svg" alt=""/>
                        <span class="git-repo-tile__stars-count">123</span>
                    </div>
                    <div class="git-repo-tile__updated">Updated 21 Jul</div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>